body {
    padding-top: 56px;
    background-color: rgb(236, 226, 205);
}
.form-container {
    max-width: 600px;
    margin-top: 25%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    font-family: 'Times New Roman', Times, serif;
}
.btn-custom {
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid goldenrod;
    background-color: goldenrod;
    border-radius: 60px;
}
#backButton {
    background-color: goldenrod;
    border: 2px solid goldenrod;
    border-radius: 60px;
}
.form-control:focus {
    border-color: #ffee00c2;
    box-shadow: 0 0 0 0.2rem rgba(255, 251, 0, 0.25);
}
h2 {
    color: goldenrod;
}


.footer {
    font-family: 'Times New Roman', Times, serif;
    background-color: #266656; 
    color: white; 
    }
    .footer a {
    color: white; 
    }
    .brandss {
    color: white; 
    }
    .brand3{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(218, 165, 32, 0.918);
    }
    .brandss:hover{
    color: goldenrod;
    transform: translateX(5%);}
    
    .a1{
        font-size: 30px;
        color: goldenrod;
        }


.btn-warning{
        color: black;    
        border: 2px solid goldenrod;
        background-color: goldenrod;
        }
        .btn-warning:hover{
        border-radius: 60px;
        }
        .container{
        font-family: 'Times New Roman', Times, serif;
        }
        h1{
        color: goldenrod;
        }
        
        .pro2{
            color: goldenrod;
            }
            .pro2:hover{
            color: goldenrod;
            }
        
        .social-icons {
            margin-top: 10px;
            margin-left: 5px;
         }
          .social-icon {
            font-size: 22px;
            color:  goldenrod;;
            margin:  10px;
            transition: color 0.3s;
        }
        .social-icon:hover {
             color: #ffc107; 
          }
          .nav-link{
            color: white;
            }
            .nav-link:hover{
          color: goldenrod;
            }
            .navbar-toggler{
            border: 3px solid #266656;
            background-color: #266656;
            }
            .navbar{
            background-color:#266656;
            }
         .navbar{
         font-family: 'Times New Roman', Times, serif;
         }
         .underline {
            position: relative;
            display: inline-block;
        }
        .underline:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background: goldenrod;
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }
        .underline:hover:after {
            transform: scaleX(1);
        }